DEV=true
PARSE_APP_ID=<>
PARSE_APP_NAME=""
PARSE_MASTER_KEY=<>
PARSE_FILE_KEY=<>
PARSE_SERVER_URL=http://localhost:3000/parse
MONGO_URL=<>
PARSE_DASHBOARD_PASSWORD=<>
EXPRESS_PORT=3000

SMTP_HOST=<>
SMTP_PORT=<>
SMTP_USERNAME=<>
SMTP_PASSWORD=<>
SMTP_FROM=<>

SPLITWISE_CONSUMER_KEY=<>
SPLITWISE_CONSUMER_SECRET=...
SPLITWISE_OAUTH1_REQUEST_TOKEN_URL=https://secure.splitwise.com/oauth/request_token
SPLITWISE_OAUTH1_ACCESS_TOKEN_URL=https://secure.splitwise.com/oauth/access_token
SPLITWISE_OAUTH1_AUTHORIZE_URL=https://secure.splitwise.com/oauth/authorize
SPLITWISE_OAUTH2_TOKEN_URL=https://secure.splitwise.com/oauth/token
SPLITWISE_OAUTH2_AUTHORIZE_URL=https://secure.splitwise.com/oauth/authorize
